<div class="relative mb-4 mt-10">
  <header
    [title]="pageTitle"
    [modalTitle]="'Add Stock'"
    [fields]="modalFields"
    (onSubmitCallback)="handleAddStock($event)"
    (exportPDFEvent)="exportStock()"
    (search)="onSearch($event)"
  ></header>

  <div class="overflow-x-auto bg-white p-5 shadow-lg rounded-sm">
    <table class="min-w-full table-auto border-collapse mt-8">
      <thead>
        <tr class="text-black">
          <th class="px-4 py-2 text-center font-normal">#</th>
          <th class="px-4 py-2 text-left font-normal">Name</th>
          <th class="px-4 py-2 text-center font-normal">Good</th>
          <th class="px-4 py-2 text-center font-normal">Missing</th>
          <th class="px-4 py-2 text-center font-normal">Damage</th>
          <th class="px-4 py-2 text-center font-normal">Total</th>
        </tr>
      </thead>
      <tbody>
        @for(stock of filteredStocks; track stock._id; let index=$index){
        <tr class="border-t">
          <td class="px-4 py-4 text-center">{{ index + 1 }}</td>
          <td class="px-4 py-4">
            <strong>{{ stock.name }}</strong>
            <small class="block">{{ stock.brand.name }}</small>
          </td>
          <td class="px-4 py-4 text-center">{{ stock.Good }}</td>
          <td class="px-4 py-4 text-center">{{ stock.Missing }}</td>
          <td class="px-4 py-4 text-center">{{ stock.Damage }}</td>
          <td class="px-4 py-4 text-center">
            {{ stock.Good + stock.Missing + stock.Damage }}
          </td>
        </tr>
        }
        <tr
          *ngIf="filteredStocks.length === 0"
          class="border-t hover:bg-gray-50 text-center"
        >
          <td class="px-4 py-2" colspan="8">No results found</td>
        </tr>
      </tbody>
    </table>

    <pagination
      [totalItems]="paginationService.totalItems"
      [(itemsPerPage)]="paginationService.itemsPerPage"
      [currentPage]="paginationService.currentPage"
      (itemsPerPageChange)="onStocksPerPageChange($event)"
      (pageChange)="onPageChange($event)"
    >
    </pagination>
  </div>
</div>
