<div class="relative mb-4 mt-10">
  <header
    [title]="pageTitle"
    [modalTitle]="'Add Item'"
    [fields]="modalFields"
    [rooms]="brands"
    [isDuplicateChecker]="true"
    (onSubmitCallback)="handleSubmit($event)"
    (exportPDFEvent)="exportBrand()"
    (search)="onSearch($event)"
  ></header>

  <div class="overflow-x-auto bg-white p-5 shadow-lg rounded-sm">
    <table class="min-w-full table-auto border-collapse mt-8">
      <thead>
        <tr class="text-black">
          <th class="px-4 py-2 text-center font-normal">#</th>
          <th class="px-4 py-2 text-center font-normal">Name</th>
          <th class="px-4 py-2 text-center font-normal">Action</th>
        </tr>
      </thead>
      <tbody>
        @for(brand of filteredItems; track brand._id; let index = $index){
        <tr class="border-t text-center">
          <td class="py-4">{{ index + 1 }}</td>
          <td class="py-4">{{ brand.name }}</td>
          <td class="flex items-center justify-center py-4">
            <button
              class="bg-sky-500 hover:bg-sky-600 text-white w-14 h-8 rounded-l-full flex items-center justify-center shadow-xl"
              (click)="openModal(brand)"
            >
              <lucide-icon name="Pencil" class="w-4 h-5"></lucide-icon>
            </button>
            <button
              class="bg-red-500 hover:bg-red-600 text-white w-14 h-8 rounded-r-full flex items-center justify-center shadow-xl"
              (click)="handleDestroy(brand._id)"
            >
              <lucide-icon name="Trash2" class="w-4 h-5"></lucide-icon>
            </button>
          </td>
        </tr>
        }
        <tr
          *ngIf="filteredItems.length === 0"
          class="border-t hover:bg-gray-50 text-center"
        >
          <td class="px-4 py-2" colspan="3">No results found</td>
        </tr>
      </tbody>
    </table>

    <modal
      [isOpen]="isModalOpen"
      [modalTitle]="'Update Brand'"
      [fields]="modalFields"
      [editRow]="currentBrand"
      (formSubmit)="handleSubmit($event)"
      (closeModal)="isModalOpen = false"
    >
    </modal>
    <pagination
      [totalItems]="paginationService.totalItems"
      [(itemsPerPage)]="paginationService.itemsPerPage"
      [currentPage]="paginationService.currentPage"
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (pageChange)="onPageChange($event)"
    >
    </pagination>
  </div>
</div>
