/* .search-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background: linear-gradient(to right, #4a90e2, #1059a2);
	border-radius: 5px;
	color: white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	align-items: center;
} */

.search-bar {
  background: linear-gradient(to right, #42baf3, #1059a2);
  color: white;
}

.search-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  outline: none;
  margin-right: 10px;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.icons {
  display: flex;
  gap: 10px;
}

.icon-btn {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.icon-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
