<div
  *ngIf="viewRoom"
  id="default-modal"
  tabindex="-1"
  aria-hidden="true"
  class="overflow-y-auto fixed inset-0 z-50 flex justify-center items-center bg-black bg-opacity-50 backdrop-blur-sm"
>
  <div class="relative p-4 w-full max-w-6xl max-h-full">
    <div class="relative bg-white rounded-lg shadow-lg">
      <div class="flex items-center justify-between p-3 border-b rounded-t">
        <div class="flex aligns-center">
          <h3 class="text-xl font-semibold text-black-900 mt-1 mr-3">Rooms</h3>
        </div>
        <button
          (click)="exportData()"
          class="py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 flex aligns-center shadow-md mr-2"
        >
          Export <lucide-icon name="file-down" class="ml-1"></lucide-icon>
        </button>
        <div>
          <button
            (click)="toggleModal()"
            class="text-gray-400 bg-transparent hover:bg-gray-200 rounded-full p-1"
          >
            <svg
              class="w-3 h-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
      </div>

      <div>
        <table class="min-w-full table-auto border-collapse mt-5">
          <thead>
            <tr class="text-black-700">
              <th class="px-4 py-2 text-center font-normal">#</th>
              <th class="px-4 py-2 text-left font-normal">Name</th>
              <th class="px-4 py-2 text-center font-normal">Good</th>
              <th class="px-4 py-2 text-center font-normal">Damage</th>
              <th class="px-4 py-2 text-center font-normal">Missing</th>
              <th class="px-4 py-2 text-center font-normal">Total</th>
            </tr>
          </thead>
          <tbody>
            @for(item of items; track item._id; let index = $index){
            <tr class="border-t">
              <td class="px-4 py-4 text-center">{{ index + 1 }}</td>
              <td class="px-4 py-4">
                <strong>{{ item.name }}</strong>
                <small class="block">{{ item.brand.name }}</small>
              </td>
              <td class="px-4 py-4 text-center">{{ item.Good }}</td>
              <td class="px-4 py-4 text-center">{{ item.Damage }}</td>
              <td class="px-4 py-4 text-center">{{ item.Missing }}</td>
              <td class="px-4 py-4 text-center">
                {{ item.Good + item.Damage + item.Missing }}
              </td>
            </tr>
            }
            <tr
              *ngIf="items.length === 0"
              class="border-t hover:bg-gray-50 text-center"
            >
              <td class="px-4 py-4" colspan="6">No results found</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="flex p-4 md:p-5 border-t border-gray-200 rounded-b justify-end"
      >
        <button
          (click)="toggleModal()"
          data-modal-hide="static-modal"
          type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white shadow-md rounded-md border border-gray-300 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- -->
<div class="relative mb-4 mt-10">
  <header
    [title]="pageTitle"
    [modalTitle]="'Add Item'"
    [fields]="modalFields"
    [showAddIcon]="showAdd"
    [isDuplicateChecker]="true"
    [rooms]="rooms"
    (onSubmitCallback)="handleSubmit($event)"
    (exportPDFEvent)="exportRoomPdf()"
    (search)="onSearch($event)"
  ></header>
  <div class="overflow-x-auto bg-white p-5 shadow-lg rounded-sm">
    <table class="min-w-full table-auto border-collapse mt-8">
      <thead>
        <tr class="text-black">
          <th class="px-4 py-2 text-center font-normal">#</th>
          <th class="px-4 py-2 text-left font-normal">Name</th>
          <th class="px-4 py-2 text-center font-normal">Good</th>
          <th class="px-4 py-2 text-center font-normal">Missing</th>
          <th class="px-4 py-2 text-center font-normal">Damaged</th>
          <th class="px-4 py-2 text-center font-normal">No of item</th>
          <th class="px-4 py-2 text-center font-normal">Action</th>
        </tr>
      </thead>
      <tbody>
        @for(room of filteredItems; track room._id; let index = $index){
        <tr class="border-t">
          <td class="px-4 py-4 text-center">{{ index + 1 }}</td>
          <td class="px-4 py-4">{{ room.name }}</td>
          <td class="px-4 py-4 text-center">{{ room.Good }}</td>
          <td class="px-4 py-4 text-center">{{ room.Missing }}</td>
          <td class="px-4 py-4 text-center">{{ room.Damage }}</td>
          <td class="px-4 py-4 text-center">{{ room.items.length }}</td>
          <td class="px-4 py-4 text-center flex items-center justify-center">
            <button
              (click)="handleViewItems(room.items)"
              [ngClass]="{
                'bg-yellow-500 hover:bg-yellow-600 text-white w-14 h-8 shadow-xl flex items-center justify-center': true,
                'rounded-full': !showControls,
                'rounded-l-full': showControls
              }"
            >
              <!-- Button content -->
              <lucide-icon name="Eye" class="w-4 h-5"></lucide-icon>
            </button>

            <button
              *ngIf="showControls"
              class="bg-sky-500 hover:bg-sky-600 text-white w-14 h-8 flex items-center justify-center shadow-xl"
              (click)="openModal(room)"
            >
              <lucide-icon name="Pencil" class="w-4 h-5"></lucide-icon>
            </button>
            <button
              *ngIf="showControls"
              class="bg-red-500 hover:bg-red-600 text-white w-14 h-8 rounded-r-full flex items-center justify-center shadow-xl"
              (click)="handleDestroy(room._id)"
            >
              <lucide-icon name="Trash2" class="w-4 h-5"></lucide-icon>
            </button>
          </td>
        </tr>
        }
        <tr
          *ngIf="filteredItems.length === 0"
          class="border-t hover:bg-gray-50 text-center"
        >
          <td class="px-4 py-2" colspan="4">No results found</td>
        </tr>
      </tbody>
    </table>

    <modal
      [isOpen]="isModalOpen"
      [modalTitle]="'Update Room'"
      [fields]="modalFields"
      [editRow]="currentRoom"
      (formSubmit)="handleSubmit($event)"
      (closeModal)="isModalOpen = false"
    >
    </modal>

    <pagination
      [totalItems]="paginationService.totalItems"
      [(itemsPerPage)]="paginationService.itemsPerPage"
      [currentPage]="paginationService.currentPage"
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (pageChange)="onPageChange($event)"
    >
    </pagination>
  </div>
</div>
