<div
  *ngIf="authService.isLoggedIn() && !isPrintOut; else loginTemplate"
  class="bg-[#eeeeee]"
>
  <div class="flex h-screen">
    <sidebar
      class="w-60 fixed top-0 left-0 h-full bg-gray-800 text-white"
    ></sidebar>

    <div class="flex-1 flex flex-col ml-60 overflow-y-auto">
      <div
        class="bg-white p-3 flex justify-between items-center shadow-lg sticky top-0 w-full z-50"
      >
        <h4 class="text-2xl oswald-font ml-5">REGISTRAR</h4>
        <div class="relative me-4 font-semibold">
          <div
            class="flex items-center space-x-2 cursor-pointer"
            (click)="toggleDropdown()"
          >
            <lucide-icon name="user"></lucide-icon>
            <span>Profile</span>
          </div>
          <div
            *ngIf="dropdownVisible"
            class="absolute right-0 mt-2 bg-white shadow-lg rounded-lg w-48 z-20"
          >
            <div class="p-2">
              <p class="text-sm">{{ fullName }}</p>
              <button
                class="w-full text-left text-sm text-red-600 mt-2 hover:text-red-800"
                (click)="logout()"
              >
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full h-full py-2 px-12 mt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<ng-template #printOutTemplate>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #loginTemplate>
  <router-outlet></router-outlet>
</ng-template>
