<div class="relative mb-4 mt-10">
  <header
    [title]="pageTitle"
    [modalTitle]="'Add Item'"
    [fields]="modalFields"
    (onSubmitCallback)="handleSubmit($event)"
    (exportPDFEvent) = "exportItemsPdf()"
    (search)="onSearch($event)"
  ></header>

  <div class="overflow-x-auto bg-white p-5 shadow-lg rounded-lg">
    <table class="min-w-full table-auto border-collapse mt-8">
      <thead>
        <tr class=" text-gray-700">
          <th class="px-4 py-2 text-center">#</th>
          <th class="px-4 py-2 text-center">Item</th>
          <th class="px-4 py-2 text-center">Brand</th>
          <th class="px-4 py-2 text-center">Room</th>
          <th class="px-4 py-2 text-center">Barcode</th>
          <th class="px-4 py-2 text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        @for(item of filteredItems; track item._id; let index = $index){
        <tr class="border-t text-center odd:bg-white odd:dark:bg-gray-100">
          <td class="px-4 py-2">{{ index + 1 }}</td>
          <td class="px-4 py-2">{{ item.name }}</td>
          <td class="px-4 py-2">{{ item.brand }}</td>
          <td class="px-4 py-2">{{ item.room.name }}</td>
          <td class="px-4 py-2">{{ item.barcode }}</td>
          <td class="px-4 py-2">
            <button
              class="bg-sky-500 hover:bg-sky-600 text-white p-2 mr-2 rounded-md"
              (click)="openModal(item)"
            >
              <lucide-icon name="Pencil" class="w-5 h-5"></lucide-icon>
            </button>
            <button
              class="bg-red-500 hover:bg-red-600 text-white p-2 rounded-md" (click)="handleDestroy(item._id)"
            >
              <lucide-icon name="Trash2" class="w-5 h-5"></lucide-icon>
            </button>
          </td>
        </tr>
        }
        <tr
          *ngIf="filteredItems.length === 0"
          class="border-t hover:bg-gray-50 text-center"
        >
          <td class="px-4 py-2" colspan="6">No results found</td>
        </tr>
      </tbody>
    </table>
    <modal
      [isOpen]="isModalOpen"
      [modalTitle]="'Update Inventory'"
      [fields]="modalFields"
      [editRow]="currentItem"
      (formSubmit)="handleSubmit($event)"
      (closeModal)="isModalOpen = false"
    >
    </modal>
    <pagination
      [totalItems]="paginationService.totalItems"
      [(itemsPerPage)]="paginationService.itemsPerPage"
      [currentPage]="paginationService.currentPage"
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (pageChange)="onPageChange($event)"
    >
    </pagination>
  </div>
</div>
