<div class="relative mb-4 mt-10">
  <header
    [title]="pageTitle"
    [modalTitle]="'Add Item'"
    [fields]="modalFields"
    [items]="items"
    (onSubmitCallback)="handleSubmit($event)"
    (exportPDFEvent)="exportItemsPdf()"
    (search)="onSearch($event)"
  ></header>

  <div class="overflow-x-auto bg-white p-5 shadow-lg rounded-sm">
    <table class="min-w-full table-auto border-collapse mt-8">
      <thead>
        <tr class="text-black border-b-2">
          <th class="px-4 py-2 text-center">#</th>
          <th class="px-4 py-2 text-left">Barcode</th>
          <th class="px-4 py-2 text-left">Article</th>
          <th class="px-4 py-2 text-left">Status</th>
          <th class="px-4 py-2 text-left">Quantity</th>
          <th class="px-4 py-2 text-left">Room</th>
          <th class="px-4 py-2 text-left">Date</th>
        </tr>
      </thead>
      <tbody>
        @for(item of filteredItems; track item._id; let index = $index){
        <tr class="border-t">
          <td class="px-4 py-4 text-center">{{ index + 1 }}</td>
          <td class="px-4 py-4">{{ item.barcode }}</td>
          <td class="px-4 py-4">
            <strong>{{ item.name }}</strong>
            <small class="block">{{ item.brand.name }}</small>
          </td>
          <td class="px-4 py-4">
            <strong>{{ item.status }}</strong>
            <small class="block">{{ item.condition || "" }}</small>
          </td>
          <td class="px-8 py-4">{{ item.quantity }}</td>
          <td class="px-4 py-4">{{ item.room.name }}</td>
          <td class="px-4 py-4 text-left">
            {{ item.createdAt | date : "MMM dd, yyyy hh:mm:a" }}
          </td>

          <!-- <td class="px-4 py-2">
            <button
              class="bg-sky-500 hover:bg-sky-600 text-white p-2 mr-2 rounded-md"
              (click)="openModal(item)"
            >
              <lucide-icon name="Pencil" class="w-5 h-5"></lucide-icon>
            </button>
            <button
              class="bg-red-500 hover:bg-red-600 text-white p-2 rounded-md" (click)="handleDestroy(item._id)"
            >
              <lucide-icon name="Trash2" class="w-5 h-5"></lucide-icon>
            </button>
          </td> -->
        </tr>
        }
        <tr
          *ngIf="filteredItems.length === 0"
          class="border-t hover:bg-gray-50 text-center"
        >
          <td class="px-4 py-2" colspan="6">No results found</td>
        </tr>
      </tbody>
    </table>
    <modal
      [isOpen]="isModalOpen"
      [modalTitle]="'Update Inventory'"
      [fields]="modalFields"
      [editRow]="currentItem"
      (formSubmit)="handleSubmit($event)"
      (closeModal)="isModalOpen = false"
    >
    </modal>
    <pagination
      [totalItems]="paginationService.totalItems"
      [(itemsPerPage)]="paginationService.itemsPerPage"
      [currentPage]="paginationService.currentPage"
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (pageChange)="onPageChange($event)"
    >
    </pagination>
  </div>
</div>
