@media print {
  body {
    margin: 0;
  }

  .printContent {
    box-shadow: none !important;
    width: 100%;
    display: block;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
  }

  .header-for-print {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .header-for-view {
    display: none;
  }

  .buttons {
    display: none;
  }

  @page {
    size: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 8.5rem; /* Ensure no margins around the page */
    background-image: url("https://scontent.fcrk1-3.fna.fbcdn.net/v/t1.15752-9/467482226_1676211693106428_6391029280304437070_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeEqu3Z_lpi6a-lsTgDo0xatFw8sHxi_k1QXDywfGL-TVCrKrgxkE-RW2GOgKUXjbrqrFhj3Thz3JqpaIbpcHc-p&_nc_ohc=HFFk76gTtzIQ7kNvgHFU4_a&_nc_oc=AdgetT8UTISqodIJf1j9pyc6d9Vz69eAowZXL3XaERBOLar4UV1F3IX4ixQwtAyzwf8&_nc_zt=23&_nc_ht=scontent.fcrk1-3.fna&oh=03_Q7cD1gEney2XivF2sBlDbwtQ6mknjAtwymQb4Mz9THnHUb_gwA&oe=678BAA13") !important;
    background-position: center -9rem !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat;
  }
}
