@media print {
  body {
    margin: 0;
  }

  .printContent {
    position: absolute;
    box-shadow: none !important;
    left: 0;
    width: 100%;
  }

  .header-for-print {
    display: block !important;
    position: fixed; /* Fixes it at the top of the page */
    top: 0; /* Ensures it stays at the very top */
    left: 0; /* Adjust if needed for centering */
    width: 100%; /* Adjust width based on your needs */
  }

  /* Pagdaragdag ng margin-top sa bawat page */
  @page {
    margin-top: 1rem; /* Magdagdag ng margin-top sa buong pahina */
  }

  .table-container {
    margin-top: 7rem; /* Maglagay ng margin-top sa bawat table container */
    margin-bottom: 0;
    page-break-before: always;
    page-break-after: always;
  }

  .header-for-view {
    display: none;
  }

  .buttons {
    display: none;
  }
}
